*{
    margin: 0px 50px;
    padding: 0px;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
}
.header{
    height: 400px;
    padding: 50px;
    font-size: larger;
    text-align: center;
    line-height: 35px;
    background: linear-gradient(45deg, black, purple);
}

.header h2{
    font-size: 40px;
    padding-top: 100px;
    color: #fff;
}
.header p{
    color: blueviolet;
}
.task{
    height: 400px;
    text-align: center;
    padding: 50px;
    background-color: mediumturquoise;
}

.custom-button{
    font-size: 20px;
    font-weight: 600;
    color:  rgba(0,0,0,0,7);
    padding:  15px 45px;
    background-color: transparent;
    background-size: 0%;
    cursor: pointer;
}
.video{
    font-size: 30px;
}
.videos{
    height: 400px;
    background-color: blueviolet;
    text-align: center;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}
